@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Luxurious Roman', serif;
}
@theme {
  --font-display: 'Luxurious Roman', sans-serif;
}
