@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import 'tailwindcss';

@theme {
  --font-display: 'Luxurious Roman', sans-serif;
  --color-mutedForeground: #7D7D7D;
}

.specialText {
  @apply font-display font-black;
}

